<hr>
<footer class="row column">
  <ul class="menu">
    <li><% link_to 'http://www.inria.fr', :target => '_blank', :title => 'INRIA' do %><%= image_tag 'INRIA.png', :resize_to => 'x40' %><% end %></li>
    <li><% link_to 'https://software.imdea.org', :target => '_blank', :title => 'IMDEA' do %><%= image_tag 'imdea-software.jpg', :resize_to => 'x40' %><% end %></li>
    <li><% link_to 'http://www.cnrs.fr', :target => '_blank', :title => 'CNRS' do %><%= image_tag 'CNRS.jpg', :resize_to => 'x40' %><% end %></li>
    <li><% link_to 'http://www.iri.centrepompidou.fr', :target => '_blank', :title => 'Institut de Recherche et d\'Innovation' do %><%= image_tag 'IRI.png', :resize_to => 'x40' %><% end %></li>
    <li><% link_to 'http://www.ucl.ac.uk', :target => '_blank', :title => 'University College London' do %><%= image_tag 'UCL.png', :resize_to => 'x40' %><% end %></li>
    <li><% link_to 'http://www.merlinux.de', :target => '_blank', :title => 'Merlinux' do %><%= image_tag 'merlinux.jpg', :resize_to => 'x40' %><% end %></li>
  </ul>
</footer>
