<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><%= image_tag 'nextleap_logo.png', :resize_to => '75x40' %></li>
      <li class="menu-text">NextLeap Project</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to 'About', '/' %></li>
      <li><%= link_to 'Objectives', '/objectives.html' %></li>
      <li><%= link_to 'tasks', '/tasks.html' %></li>
      <li><%= link_to 'Resources', '/resources.html' %></li>
      <li><%= link_to 'Events', '/events.html' %></li>
    </ul>
  </div>
</div>
