---
title: Welcome to Project NextLeap
no_footer: true
---

<div class="callout large">
  <div class="row column text-center">
  <h1>NEXTLEAP</h1>
  <p class="lead">NeXt generation Techno-social and Legal Encryption Access and Privacy</p>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns medium-push-6">
    <%= image_tag 'nextleap_logo.png', :resize_to => '750x350', :class=> 'thumbnail' %>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>About NextLeap.</h2>
    <p>In the wake of the Snowden revelations, public trust in the Internet has eroded.
      Yet as put by Snowden:
      <blockquote>
        We need to encode our values not just in writing but in the structure of the Internet, and it's something that I invite everyone around the world, to join and participate in.
        <cite>Edward Snowden</cite>
      </blockquote>
      The primary motivation of NEXTLEAP is to create an interdisciplinary <strong>internet science of decentralisation</strong> in order to study, create, validate, and deploy <strong>core protocols</strong> that can form the foundation for a secure, trust-worthy, annotable and privacy-respecting Internet based on fundamental rights.</p>
  </div>
</div>

<hr>

<div class="row column">
  <h3>Partners and Contact</h3>
</div>

<div class="row column">
  <p class"lead">Co-coordinator: <%= link_to 'harry.halpin@inria.fr','mailto:harry.halpin@inria.fr' %></p>
</div>

<div class="row institutions">
  <div class="medium-2 columns">
    <h5><%= link_to 'INRIA', 'http://www.inria.fr', :target => '_blank', :title => 'INRIA' %></h5>
    <%= image_tag 'INRIA.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IMDEA', 'http://www.imdea.org', :target => '_blank', :title => 'IMDEA' %></h5>
    <%= image_tag 'IMDEA.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'CNRS', 'http://www.cnrs.fr', :target => '_blank', :title => 'CNRS'%></h5>
    <%= image_tag 'CNRS.jpg', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IRI', 'http://www.iri.centrepompidou.fr', :target => '_blank', :title => 'Institut de Recherche et d\'Innovation'%></h5>
    <%= image_tag 'IRI.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'UCL', 'http://www.ucl.ac.uk', :target => '_blank', :title => 'University College London'%></h5>
    <%= image_tag 'UCL.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'Merlinux', 'http://www.merlinux.de', :target => '_blank', :title => 'Merlinux' %></h5>
    <%= image_tag 'merlinux.jpg', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
</div>
