---
title: Welcome to Project NextLeap
no_footer: true
---

<div class="callout large header-callout">

  <div class="row column text-center nextleap-callout">
    <%= image_tag 'logobanner.png', :resize_to => '500'%>
    <div class="nextleap-tagline">NEXt generation Techno-social and Legal Encryption Access and Privacy</div>
  </div>
</div>

<div class="row">

  <div class="medium-6 columns">
    <h3>The NEXTLEAP Project</h3>
    <p>In the wake of the Snowden revelations, public trust in the Internet has eroded.</p>
      <p>The primary motivation of NEXTLEAP is to create, validate, and deploy communication and computation protocols that can serve as pillars for a secure, trust-worthy, annotable and privacy-respecting Internet that ensures citizens fundamental rights. For this purpose NEXTLEAP will develop an interdisciplinary internet science of decentralisation that provides the basis on which these protocols will be built.</p>
  </div>
  <div class="medium-6 columns">
    <%= image_tag 'phototeam.jpg', :resize_to => '750x350', :class=> 'thumbnail' %>
    </div>
  </div>
      <div class="row">

        <div class="medium-6 columns">
            <center><%= image_tag 'schema3.png', :resize_to => '250'%></center>
        </div>
            <div class="medium-6 columns">
              <blockquote><p>"WE NEED TO ENCODE OUR VALUES NOT JUST IN WRITING BUT IN THE STRUCTURE OF THE INTERNET, AND IT'S SOMETHING THAT I INVITE EVERYONE AROUND THE WORLD, TO JOIN AND PARTICIPATE IN."</p><p>Edward Snowden</p></blockquote>

        </div>
      </div>
<hr>
<div class="row" id="content">
    <div class="medium-4 columns">
      <h3>Recent and future events</h3>
      <% blog('events').articles[0,3].each do |event| %>
        <div class="blog-post">
            <h6><%= event.title %>
                <small><%= event.date.strftime('%d/%m/%Y') %></small>
            </h6>
            <% link_to event do %><%= image_tag event.data.image || "https://placehold.it/145", :class => 'thumbnail thumbnail-home', :width => '145', :align=> 'left'%><% end %>
            <p><%= strip_tags(event.summary(250)) %><%= link_to '>>', event %></p>
        </div>
      <% end %>
    </div>
    </div>
  <div class="row">
    <hr>
    <div class="medium-6 columns">
        <%= image_tag 'eu-flag.jpg', :resize_to => '90' %>
      <p><font size=-30%>This project has received funding from the European Union’s Horizon 2020 Framework Programme for Research and Innovation (H2020-ICT-2015, ICT-10-2015) under grant agreement nº 688722.</font size></p>
    </div>
    <div class="medium-6 columns">
    <h5>Contact</h5>
      <p class"lead"><font size=inherit>Coordinator: <%= link_to 'harry.halpin@inria.fr','mailto:harry.halpin@inria.fr' %></p>
  </div>
  </div>
<hr>

<div class="row column">
  <h5>Partners</h5>
</div>

<div class="row institutions">
  <div class="medium-2 columns">
    <h5><%= link_to 'INRIA', 'http://www.inria.fr', :target => '_blank'%></h5>
    <%= image_tag 'INRIA.png', :resize_to => '130', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IMDEA Software', 'https://software.imdea.org', :target => '_blank'%></h5>
    <%= image_tag 'imdea-software.jpg', :resize_to => '130', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'CNRS', 'http://www.cnrs.fr', :target => '_blank'%></h5>
    <%= image_tag 'CNRS.jpg', :resize_to => '130', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IRI', 'http://www.iri.centrepompidou.fr', :target => '_blank'%></h5>
    <%= image_tag 'IRI.png', :resize_to => '130', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'UCL', 'http://www.ucl.ac.uk', :target => '_blank'%></h5>
    <%= image_tag 'UCL.png', :resize_to => '130', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'Merlinux', 'http://www.merlinux.de', :target => '_blank' %></h5>
    <%= image_tag 'merlinux.jpg', :resize_to => '130', :class => 'thumbnail' %>
  </div>
</div>
