---
title: Welcome to Project NextLeap
---

<div class="callout large">
  <div class="row column text-center">
  <h1>NEXTLEAP</h1>
  <p class="lead">NeXt generation Techno-social and Legal Encryption Access and Privacy</p>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns medium-push-6">
    <%= image_tag 'nextleap_logo.png', :resize_to => '750x350', :class=> 'thumbnail' %>
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>About NextLeap.</h2>
    <p>In the wake of the Snowden revelations, public trust in the Internet has eroded.
      Yet as put by Snowden:
      <blockquote>
        We need to encode our values not just in writing but in the structure of the Internet, and it's something that I invite everyone around the world, to join and participate in.
        <cite>Edward Snowden</cite>
      </blockquote>
      The primary motivation of NEXTLEAP is to create an interdisciplinary <strong>internet science of decentralisation</strong> in order to study, create, validate, and deploy <strong>core protocols</strong> that can form the foundation for a secure, trust-worthy, annotable and privacy-respecting Internet based on fundamental rights.</p>
  </div>
</div>

<hr>

<div class="row column">
  <h3>Partners and Contact</h3>
</div>

<div class="row column">
  <p class"lead">Co-coordinator: <%= link_to 'harry.halpin@inria.fr','mailto:harry.halpin@inria.fr' %></p>
</div>

<div class="row institutions">
  <div class="medium-2 columns">
    <h5><%= link_to 'INRIA', 'http://www.inria.fr', :target => '_blank', :title => 'INRIA' %></h5>
    <%= image_tag 'INRIA.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IMDEA', 'http://www.imdea.org', :target => '_blank', :title => 'IMDEA' %></h5>
    <%= image_tag 'IMDEA.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'CNRS', 'http://www.cnrs.fr', :target => '_blank', :title => 'CNRS'%></h5>
    <%= image_tag 'CNRS.jpg', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'IRI', 'http://www.iri.centrepompidou.fr', :target => '_blank', :title => 'Institut de Recherche et d\'Innovation'%></h5>
    <%= image_tag 'IRI.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'UCL', 'http://www.ucl.ac.uk', :target => '_blank', :title => 'University College London'%></h5>
    <%= image_tag 'UCL.png', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
  <div class="medium-2 columns">
    <h5><%= link_to 'Merlinux', 'http://www.merlinux.de', :target => '_blank', :title => 'Merlinux' %></h5>
    <%= image_tag 'merlinux.jpg', :resize_to => '170x170', :class => 'thumbnail' %>
  </div>
</div>


<hr>

<div class="row column">
  <h3>Objectives</h3>
  <p>
    <ol>
      <li>The creation of an integrated socio-technical science of decentralised and rights-preserving internet architecture that takes as foundational provable security, privacy by design, federated identity, anonymity, and decentralised governance based on a number of detailed sociological analyses of real-world case-studies.</li>
      <li>A fundamental re-thinking of the ethical and philosophical foundations of the Internet ground  principles of collective intelligence, digital hermeneutics and  net rights to be published in book and online, with a series of workshops and seminars to attract diverse stake-holders to deploy the protocols.</li>
      <li>The modular specification of decentralised protocols implemented as open-source software modules for
        <ol type='a'>
          <li>federated identity with a privacy-preserving address-book</li>
          <li>secure messaging for both synchronous (chat) and asynchronous (e-mail) messaging</li>
          <li>privacy-preserving analytics based on private information retrieval.</li>
        </ol>
      </li>
    </ol>
  </p>
  <p class="text-justify">
    There are many open technical questions NEXTLEAP will strive to answer.
    For example, <strong>Can decentralisation help privacy and anonymity?</strong>
    While intuitively many people claim that decentralisation helps privacy,
    actually recent research shows that de-anonymisation and surveillance is
    actually easier on decentralised networks.
    <strong>How can we build scalable, high-performing, and secure decentralised
    architectures based on verified protocols?</strong>
    Decentralisation typically has impact on the performance of the system with
    respect to centralised solution. Necessary security properties need to be
    proven in many protocols, and then also hold as part of a larger
    heterogeneous system.
    This is often hard for users and developers to understand but automated
    tools and proper modularisation of components can help.
  </p>
  <p class="text-justify">
    The foundation of these technical questions is rooted in both philosophy
    and real-world usage of the Internet (as can be studied via sociology and
    STS-based approaches). It is answers to these questions that are crucial
    for building succcessful protocols and systems. To take another example,
    <strong>what motivations and values can be used to predict successful adoption of
    decentralised systems by communities of users?</strong> While it appears users are
    often unhappy with losing control of their data to companies that own
    centralised platforms, very few users do move to alternatives and what
    precisely the social success or failure of a system is unclear.
    <strong>Is there a decentralised philosophy at the core of the Internet that makes
    sense of the success of existing protocols?</strong> It is claimed that values
    around collective intelligence, open innovation, privacy, and
    decentralisation are built into Internet protocols, but the precise
    philosophical grounding of these principles – and any new kinds of
    “internet rights” they entail - is often vague. Furthermore, we need to
    verify and determine if protocols have the properties needed to guarantee
    these rights.
  </p>
  <p class="text-justify">
    The core of modern Internet systems are based on a few protocols that can
    be re-designed. An <strong>address-book</strong> (“friends”, social graph, contacts, etc.)
    is the fundamental building block for any messaging protocol. Such an
    addressbook can be based on a sharable identifier ranging from
    user@example.org to a hash of a public key (as used in Bitcoin).
    Currently, identities and their addressbooks that contain information such
    as public key material typically are centralised and, if decentralised, not
    accessed in a privacy-preserving manner. Can we achieve a breakthrough to
    allow users to keep track of their contacts without losing their rights or
    becoming part of a centralised silo?
  </p>
  <p class="text-justify">
    How can a person send <strong>secure messages</strong> to others, regardless of what system
    they are using? These messages need to be end-to-end encrypted, resistant
    to ‘metadata’ analysis, and may have a number of properties such as forward
    secrecy and future secrecy. While currently a number of secure next
    generation protocols exist such as Signal’s Axolotl are emerging,
    existing secure messaging systems are incompatible and so lead to silos
    between systems such as CryptoCat, Signal, and Telegram.
    Existing interoperable protocols like SMTP (e-mail) are by default
    non-encrypted and leak metadata. Can we unify a protocol that starts with
    e-mail and goes all the way to secure messaging?
  </p>
  <div>
    <%= image_tag 'nextleap_schema_silo.png', :class => 'float-center thumbnail', :id =>'nextleap_schema_silo' %>
  </div>
  <p class="text-justify">
    Lastly, much of the drive towards centralisation in Internet-based systems
    is also driven by practical needs to harness the collective ‘wisdom of the
    crowds’, improve their system, and to ‘know your user.’ However, even those
    that run the system are typically not interested in the personal data of
    individual users, but only in answering questions about groups. Can we
    create <strong>privacy-preserving analytics</strong> that can harness the power of
    machine-learning for good while respecting the rights of their users?
  </p>
</div>

<hr>

<div class="row column">
  <h3>Tasks</h3>
  <p class="text-justify">
    Each of the core protocols will be based on sociological case-studies of
    users and software projects, including other CAPS projects. The values in
    the protocols will emerge both from a systematization of the philosophy of
    the Internet (based on the work of French philosopher Bernard Stiegler) as
    well as a crowd-sourced discussion of net rights. For each protocol, there
    will be a specification that will be both formally verified for security
    properties as well as an analysis in terms of privacy, interpretation and
    scalability. These protocols will be implemented in running code and
    deployed with real users, and submitted to open standards bodies such as
    the IETF and W3C. They can then serve as the building blocks for other CAPS
    projects and wider software development.  Intensive education and outreach
    to policy-makers, developers, academics and the general public will raise
    awareness of the values of decentralisation, security, and privacy – and a
    new kind of Internet.
  <p>
</div>
<div class="row column">
  <p>
    <ol>
      <li>Project Management (INRIA)</li>
      <li>Science of Decentralized Architectures (UCL)</li>
      <li>Social Design and Philosophical Foundations of Decentralization (CNRS)</li>
      <li>Validation via Formal Modelling and Simulation (IMEDEA)</li>
      <li>Open Source Code and User Validation (Merlinux)</li>
      <li>Outreach and Dissemination (IRI)</li>
    </ol>
  </p>
</div>
